


p{
   top: auto;
font-size:48px;
font-family: 'Concert One', cursive;
text-align:center;
color:rgb(255, 255, 129);
 text-shadow: 10px 10px 10px red;
 text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
p7{
  top: auto;
font-size:48px;
font-family: 'Concert One', cursive;
text-align:center;
color:rgb(153, 153, 140);
text-shadow: 10px 10px 10px red;
text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;

}
body{
 background-image: url('BG.jpg');
 z-index: -2;
}
p1{
    font-family: 'Concert One', cursive;

}
.container {
    position: relative;
    text-align: center;
    }
    .container1{
      position: relative;
      text-align: center;
      }
    .centered {
        font-size: 20px;
        font-family: 'Concert One', cursive;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
    .carousel-container {
        width: 600px;
        height: 400px;
        position: relative;
        margin: 0 auto;
        z-index: auto;
      }
    img{
    right: 40%;
}
figure { 
    display: block; 
    position: relative; 
    overflow: hidden; 
  }
  
  figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.75); 
    color: white; 
    padding: 10px 20px; 
  }
figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.75); 
    color: white; 
    padding: 10px 20px; 
  
    opacity: 0;
    bottom: 0; 
  
    
    
  }
  
  figure:hover figcaption {
    opacity: 1;
    left: 0;
  }
cap{
font-family:Verdana, Geneva, Tahoma, sans-serif

}
cap1{font-family: 'Concert One', cursive;
    text-align:center;
    color:rgb(204, 204, 24);
     text-shadow: 10px 10px 10px red;
     text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;


}
.tab {
  overflow: hidden;
  
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: white;
  float: left;
  border:medium;
  outline: medium;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}
button1 {   
  background-color: #4CAF50;   
  width: 100%;  
   color: orange;   
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
    }   
form {   
   border: 3px solid #f1f1f1;   
}   
input[type=text], input[type=password] {   
  width: 25%;   
  margin: 8px 2px;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid green;   
  box-sizing: border-box;   
}  
.cancelbtn {   
  width: auto;   
  padding: 10px 18px;  
  margin: 10px 5px;  
}   
  

.contain {   
  padding: 25px;   
  background-color: lightblue;  
}   